<!doctype html>
<meta charset="UTF-8"> 

<head>
  <title>StrainWebTool</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <!--  Bootstral loading  -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <!-- add after bootstrap.min.css -->
  <link rel="stylesheet" href="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.0/dist/bootstrap-toc.min.css">
  <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css" type="text/css">
  <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
  <!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>    
  <!-- github icon -->

  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>
  <!-- add after bootstrap.min.js -->
  <script src="https://cdn.rawgit.com/afeld/bootstrap-toc/v1.0.0/dist/bootstrap-toc.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <link rel="icon" https://raw.githubusercontent.com/DSOlab/StrainTool/gh-pages/img/DSOtrans.png" type="image/x-icon">
<!--   custom css styles  -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/webtool.css') }}" />
<!-- LEAFLET APP -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>

<script>
  $(document).ready(function() {
  $('.sev_check').each(function() {
//     $(this).addClass('unselected');
  });
  $('.sev_check').on('click', function() {
//     $(this).toggleClass('unselected');
//     $(this).toggleClass('selected');
  $('.sev_check').not(this).prop('checked', false);
//     $('.sev_check').not(this).removeClass('selected');
//     $('.sev_check').not(this).addClass('unselected');
    });
  });
</script>
<script>
function includeHTML() {
  var z, i, elmnt, file, xhttp;
  /* Loop through a collection of all HTML elements: */
  z = document.getElementsByTagName("*");
  for (i = 0; i < z.length; i++) {
    elmnt = z[i];
    /*search for elements with a certain atrribute:*/
    file = elmnt.getAttribute("w3-include-html");
    if (file) {
      /* Make an HTTP request using the attribute value as the file name: */
      xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4) {
          if (this.status == 200) {elmnt.innerHTML = this.responseText;}
          if (this.status == 404) {elmnt.innerHTML = "Page not found.";}
          /* Remove the attribute, and call this function once more: */
          elmnt.removeAttribute("w3-include-html");
          includeHTML();
        }
      } 
      xhttp.open("GET", file, true);
      xhttp.send();
      /* Exit the function: */
      return;
    }
  }
}
</script>
</head>

<body data-spy="scroll" data-target="#toc">

<!-- ADD header -->
<div w3-include-html="{{ url_for('static', filename='html/header.html') }}"></div>

<!-- ADD help bar -->
<div w3-include-html="{{ url_for('static', filename='help/help-bar.html') }}"></div>

<div class="container-fluid">

<!-- Main application -->
<div class="row" style="height: 750px;">

    <!-- Strain Tool arguments column -->
    <div class="col-md-2" style="padding: 15px; background-color:  #b3d9ff;">
    
      <div class="row" style="height: 45px; padding: 6px; border: 0; background-color: #ff0000">
        <div class="col">
          <!--<form class="form-inline" method="POST" enctype = "multipart/form-data" action="/StrainWebTool/parameters">
            <div class="col-md-9">
                <input type = "file" name = "file" />
            </div>
            <div class="col-md-2">
                <input type = "submit" value="upload" />
              </div>
          </form>-->
          
          <form class="form-inline" method="POST" enctype = "multipart/form-data" action="/StrainWebTool/parameters">
          <div class="row">
            <div class="col custom-file">
                <input type = "file" id="customFile" name = "file" />
                <!--<label class="custom-file-label" for="customFile">Choose file</label>-->
            </div>
          </div>
          <div class="row"  style="padding: 10px;">
            <div class="col">
                <input type = "submit" class="btn btn-success block-input" value="upload file" />
              </div>
          </div>
          </form>
          
        </div>
      </div><br><br>
        <!--select method sen or veis          -->
        <div class="row">
            <div class="col">
                <div w3-include-html="{{ url_for('static', filename='help/help-method.html') }}"></div>
                <!-- Shen Method-->
                <div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input sev_check" id="defaultInline1" disabled>
                  <label class="custom-control-label" for="defaultInline1">Shen</label>
                </div>
                <!-- Veis, Delaunay triangles-->
                <div class="custom-control custom-checkbox custom-control-inline">
                  <input type="checkbox" class="custom-control-input sev_check" id="defaultInline2" disabled>
                  <label class="custom-control-label" for="defaultInline2">Veis</label>
                </div>
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="cut_stations" disabled>
                  <label class="custom-control-label" for="cut_stations">One Tensor</label>
                </div>
            </div>
        </div>
        <!-- Set Boundary zone  -->
        <div class="row">
            <div class="col">
                <div w3-include-html="{{ url_for('static', filename='help/help-region.html') }}"></div>
                <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">region</span>
                  </div>
                  <input type="text" name="region" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="west/east/south/north" disabled>
                </div>
                
                <!--<div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Lon.(λ)</span>
                </div>
                <input type="text" class="form-control" placeholder="minimum" disabled>
                <input type="text" class="form-control" placeholder="maximum" disabled>
                </div>
                
                <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Lat.(φ)</span>
                </div>
                <input type="text" class="form-control" placeholder="minimum" disabled>
                <input type="text" class="form-control" placeholder="maximum" disabled>
                </div>-->
<!--                 <br> -->
                <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Grid-Step</span>
                </div>
                <input type="text" class="form-control" placeholder="X-step" disabled>
                <input type="text" class="form-control" placeholder="Y-step" disabled>
                </div>
            </div>
        </div>
        <!-- Set Model parameters  -->
        <div class="row">
            <div class="col">
                <div w3-include-html="{{ url_for('static', filename='help/help-model.html') }}"></div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Wt</span>
                    </div>
                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="24" disabled>
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">D min</span>
                    </div>
                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="1" disabled>
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">D max</span>
                    </div>
                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="500" disabled>
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">D step</span>
                    </div>
                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="1" disabled>
                </div>
                OR set:<br>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">D parameter</span>
                    </div>
                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="not available" disabled>
                </div>
            </div>
        </div>
        <!-- Set arguments for python --> 
        <div class="row">
            <div class="col">
                <div w3-include-html="{{ url_for('static', filename='help/help-special.html') }}"></div>
                <!-- Default checked -->
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="cut_stations" disabled>
                  <label class="custom-control-label" for="cut_stations">cut excess stations</label>
                </div> 
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="g_statistic" disabled>
                  <label class="custom-control-label" for="g_statistic">generate statistics</label>
                </div> 
            </div>
        </div>
        <div align="center">
            <button type="button" class="btn btn-danger" disabled>RUN</button>
        </div>
    </div>
    <!-- Strain Tool Argments finished      -->
    
    <!-- Plot cases -->
    <div class="col-md-2" style="padding: 20px; background-color:  #fff2e6;">
        <div class="row">
            <div class="col">
            Strain parameters: <br>
                <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input sev_check" id="plot_vel" disabled>
                <label class="custom-control-label" for="plot_vel">Velocities</label>
                </div> 
                <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input sev_check" id="plot_strain" disabled>
                <label class="custom-control-label" for="plot_strain">Principal Axis</label>
                </div> 
                <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input sev_check" id="plot_rotation" disabled>
                <label class="custom-control-label" for="plot_rotation">Rotational Rates</label>
                </div> 
                <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input sev_check" id="plot_gtot" disabled>
                <label class="custom-control-label" for="plot_gtot">Shear Strain</label>
                </div>
                <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input sev_check" id="plot_gtotaxes" disabled>
                <label class="custom-control-label" for="plot_gtotaxes">Shear Strain Axes</label>
                </div>
                <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input sev_check" id="plot_secinv" disabled>
                <label class="custom-control-label" for="plot_secinv">Second Invariant</label>
                </div>
            Statistics:
                <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input sev_check" id="stat_stations" disabled>
                <label class="custom-control-label" for="stat_stations">Stations per cell</label>
                </div> 
                <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input sev_check" id="stat_doptimal" disabled>
                <label class="custom-control-label" for="stat_doptimal">D optimal</label>
                </div> 
                <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input sev_check" id="stat_sigma" disabled>
                <label class="custom-control-label" for="stat_sigma">sigma value</label>
                </div>
            </div>
 
        </div>
        <div class="row">
            <div class="col" align="center">
                <button type="button" class="btn btn-danger" disabled>ADD to Map</button>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                Create GMT Maps: <br>
                Options:<br>
                <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="gmt_stations" disabled>
                <label class="custom-control-label" for="gmt_stations">plot stations</label>
                </div> 
                <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="gmt_labels" disabled>
                <label class="custom-control-label" for="gmt_labels">add labels</label>
                </div> 
                <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="gmt_deltr" disabled>
                <label class="custom-control-label" for="gmt_deltr">add delaunay triangles</label>
                </div>
            Scales:
                <div class="input-group input-group-sm mb-">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">velocities</span>
                    </div>
                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" disabled>
                </div>
                <div class="input-group input-group-sm mb-">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Strains</span>
                    </div>
                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" disabled>
                </div>
                <div class="input-group input-group-sm mb-">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Rotational</span>
                    </div>
                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" disabled>
                </div>
            Outputs:
                <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Pre/Suf-fix</span>
                </div>
                <input type="text" class="form-control" disabled>
                <input type="text" class="form-control" disabled>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" align="center">
                <button type="button" class="btn btn-danger" disabled>GMT Map</button>
<!--                 <a href="#" class="btn btn-danger btn-md " role="button" aria-disabled="true">GMT Map</a> -->
            </div>
        </div>
    
    </div>
    <div class="col-md-8">
<!--     maps -->
      <div id="map" class="map" style="width:100%; height:100%; margin:10px; margin:0px; border:1px solid black;"></div>

    </div>
   
    </div>
</div>


<!-- Results -->
<div class="row" style="height: 20px; background-color: #e69900">

    <div class="col">
<!--         Results -->
    </div>
</div>

</div><!-- end of container div  -->

</body>

<!-- ADD FOOTER stable html -->
<div w3-include-html="{{ url_for('static', filename='html/footer.html') }}"></div>



<!-- <script src="http://www.openlayers.org/api/OpenLayers.js"></script> -->
<script type="text/javascript">
  var map = L.map('map').setView([39.82 , 24.41], 2);
  L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Physical_Map/MapServer/tile/{z}/{y}/{x}', {
	attribution: 'Tiles &copy; Esri &mdash; Source: US National Park Service'}).addTo(map);

	
</script>
<script>
includeHTML();
</script>
</html>
